body {
  margin: 0;
  font-family: "Muli", Arial, sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-rendering: auto;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  color: #2b3344;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
::after,
::before {
  box-sizing: border-box;
}
